body, html {
    margin: 0;
    padding: 0;
}

content {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #eee;
    width: 100%;
    padding: 15px;
}

#logo {
    display: block;
    margin: 245px auto 15px;
}

#search {
    height: 30px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-image: url(https://i.ibb.co/fpg3rfH/outline-search-black-24dp.png);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 22px;
    padding: 6px 0 6px 45px;
    width: 80%;
    max-width: 580px;
    margin: 0 auto 45px;
    display: block;
}

#search:focus {
    outline: none;
}

#search:hover {
    border-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
}

.google-button {
    border: 1px solid white;
    background-color: #f5f5f5;
    padding: 9px 15px;
    border-radius: 3px;
    font-color: #222;
    cursor: pointer;
    font-weight: 400;
}

.google-button:hover {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 2px 0px rgba(204, 204, 204, 1);
}